.clip {
    width: 100%;
}
.s0 {
    width: 10%;
}
.s1 {
    width: 40%;
}

.s2 {
    width: 30%;
}

.s3 {
    width: 20%;
}

.pointing {
        position: absolute !important;
        bottom: -35px;
        padding-right: 15px !important;

}
.pointing.below{
    bottom: 51px;
}
.pointing > .angle {
    /*//color: green !important;*/
    position: relative;
    left: 6px;
    bottom: 4px;
    margin: 0 !important;
    position: absolute !important;
    right: -65% !important;
    /*right: 0px !important;
    float: right !important;*/
    top: 2px !important;
}
.angle.up, .smile {
    color: #21ba45 !important;
}
.angle.down, .frown {
    color: #db2828 !important;
}

.comments {
    margin: 0 !important;
}

.sales {
        /*background-color: rgb(181, 204, 24) !important;
            color: rgb(255, 255, 255) !important;
    border-color: rgb(181, 204, 24) !important;*/
}

.client {
        /*background-color: rgb(251, 189, 8) !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(251, 189, 8) !important;*/
}

.step.disabled {
    //font-size: 20px !important;
    font-weight: bolder !important;
    padding-bottom: 20px !important;

}
.step > .icon {
    margin-right: 0px !important;
    font-size: 1.5em !important;
}
.steps {
        margin-bottom: 30px !important;
            overflow: scroll;
            height: 167px !important;
            padding-top: 50px !important;
}

.steps .step.active {
    height: 53px !important;
}

.floating.label {
        font-size: 10px !important;
    font-weight: 100 !important;
    padding: 5px !important;
}
.accordion > .content {
    margin-left: 8px;
}

#content > .ui.grid {
    padding-bottom: 0px !important;
}

.wcloud{
    padding-left: 0px !important;
    position: relative;
    right: 5px;
}

.tag.label {
    margin-left: 20px !important;
}

.pipe-cat {
        margin-left: -5px !important;
}

/*.statistic {
    width: 9.6% !important;
    margin-left: 0px !important;
}
.statistics-cont {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}*/

.statistics-cont {
    width: 100% !important;
    text-align: center !important;
    }

.label.transition {
    margin-bottom: 5px !important;
}

.sscore {
    margin-left: 5px !important;
}

#wordcloud > svg {
    width: 100% !important;
}

#o-summary {
    max-height: 200px !important;
    overflow: scroll !important;
        margin-left: 15px !important;
}

.pusher {
    margin-top: 3em !important;
    margin-left: 0% !important;
    padding-top: 10px !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
    float: left;
    width: 100% !important;
}

.menu > .launch {
    border: 0px;
    border-right-color: rgba(73, 73, 73, 0.5);
    border-right-width: 1px;
    border-style: solid;

}
.left.demo.vertical {
        padding-top: 46px;
}
i.meh.icon {
        color: #767676 !important;
}
